.about-section {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
}

@media (min-width: 768px) {
    .about-section {
        grid-template-columns: 1fr 1fr;
    }
}
